.list {
  list-style: none;
}
.loading__size {
  display: block;
  height: 23px;
  margin: 26px 16px;
  width: 100%;
  animation: colorChange 2s infinite;
}

.desktopMenu {
  width: 100%;
}

@keyframes colorChange {
  0% { background-color: #c7c7c7; }
  50% { background-color: #5c5c5c; }
  100% { background-color: #c7c7c7; }
}

@media screen and (min-width: 1024px) {
  .desktopMenu {
    height: 75px;
  }

  .loading__size {
    display: block;
    height: 23px;
    margin: 26px 16px;
    max-width: 80px;
    width: 100%;
    animation: colorChange 2s infinite;
  }
}
